<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wushang.mapper.UserMapper">

	<insert id="save">
		INSERT into t_user (username,password) values(#{username},#{password})
	</insert>

	<select id="findByUsername" resultType="com.wushang.model.User" parameterType="string">
		SELECT * FROM t_user where username=#{username,jdbcType=VARCHAR}
	</select>

</mapper>